body {
    font-family: Tahoma, Arial;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#container {
    width: 990px;
    margin: 0 auto;
}

a { color: #4a691b; }
a:hover { text-decoration: none }

header {
    background: url("img/logo_small.png") no-repeat;
    height: 209px;
    padding-left: 215px;
    margin-top: 5px;
}

header nav {
    position: relative;
    top: 75px;
    color: white;
    display: inline-block;
    padding-left: 30px;
    padding-right: 10px;
    margin-left: 5px;
    width: 725px;
}

header nav {
    background: #545454 url(img/top_logo_bg.png) 0 50% no-repeat;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 5px 0 0 #7FBA29;
}

header h3 {
    position: absolute;
    font-weight: normal;
    font-family: Trebuchet MS;
    font-size: 1.7em;
    color: #969696;
    padding: 0; margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;
    margin-left: 5px;
    width: 330px;
}

header h4 {
    position: absolute;
    border-bottom: 1px dashed #dfdfdf;
    margin: 0; padding: 0;
    margin-left: 335px;
    margin-top: 28px;
    width: 150px;
    text-align: right;
    font-size: 13px;
    padding-bottom: 5px;
    font-weight: normal;
    color: #7FBA29;
}

header h3 span { color:#7FBA29 }

header nav a {
    display: inline-block;
    padding: 17px 25px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Trebuchet MS;
}

header nav a:hover, header nav a.selected {
    background: #7FBA29;
    text-shadow: 0 0 1px #5f6362;
}

#subdesc h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    font-family: Trebuchet MS;
    color: #515151;
    padding-top: 7px;
    letter-spacing: 1px;
}

#subdesc {
    text-align: right;
    border: 1px dashed #7FBA29;
    height: 35px;
    padding-left: 35px;
    position: relative;
    margin-top: 85px;
    margin-left: -40px;
    border-radius: 0 10px 10px 0px;
}
#subdesc #social { padding-top: 7px; display: inline-block; }
#main { min-height: 250px; }

footer {text-align: center}